.chats {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}


.chats::-webkit-scrollbar {
    width: 10px;
    background: #323232;
}

.chats::-webkit-scrollbar-track {
    background: #323232;
}

.chats::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}


.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: auto;
    max-width: 80%; 
    width: fit-content;
    color: white;
}

.gptDiv {
    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.2px;
    font-size: 1rem;
    white-space: pre-wrap;
    margin-bottom: 2.5rem;
    color: #ececec;
}


.gptDiv p {
    margin-bottom: 1rem;
}

pre {
    white-space: pre-wrap;
    background-color: #0d0d0d;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem 0;
    overflow-x: auto;
}

.hljs {
    border-radius: 12px !important;
}


.welcome-text {
    text-align: center;
    margin-top: 20vh;
    font-size: 2rem;
    color: #676767;
}
